body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(image.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
    width: 400px;
    height: 420px;
    padding: 20px;
    border-radius: 12px; 
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    background-color: #111;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 26px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
    background-color: #ac9999;
}

.operator {
    background: #ff9500;
    color: white;
}

.clear {
    background: #ff3b3b;
    color: white;
}

.equal {
    background: #4cd964;
    color: white;
    grid-column: span 2;
}
